body{
    /*background-color:#003A6B;*/
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQmK0JOwxdOmrZJQJfg0qNrqjg1CC6-ujBYzeXldOKXryoIWKv5sYnnkY&s);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 100vh;
}
nav {
    margin:50px 300px 50px 400px;
    display:flex;
    gap: 60px;
    font-size:20px;
    font-style: italic;
    }
    h1{
        font-style: italic;
        margin-top: 3%;
        margin-left: 0%;
        padding-top: 3%;
        padding-left: 2.5%;

    }
    h2,h3{
        font-style: italic;
        margin-left: 0%;
        margin-top: 3%;
        padding-left: 2.5%;
        
    }

    figure img{
        width:300px;
        height:300px;
        border-radius: 100%;
        object-fit: cover;
        float: right;
        margin-top:2.5%;

    }
    .box{
        width:1000px;
        height:350px;
        background-color: aliceblue;
        margin: 10% auto;
        border-radius: 10px;
        box-shadow: #a3a8ac;
    }
    .element1 {
  display: flex;
  gap: 90px;   /* space between boxes */
  margin-left: 10%;
  margin-top: 2%;
}

.element1 h3 {
  border: 3px solid #003A6B;
  padding: 10px 20px;
  font-style: italic;
  cursor: pointer;
  display:inline-block;

}
    
    